:root {
    --searchbar: #1E90FF;
    --searchsize: 15px;
}
.mainheader {
    width:100%;
    height: 220px;
    margin: auto;
    background-color: white;
    box-sizing:border-box;
    border: none;
    justify-content:center;
}
.header-1 {
    width: 1520px;
    height: 60%;
    margin: auto;
    background-color: #1E90FF;
    display:flex;
}
.logo-search {
    width: 1000px;
    height: 80%;
    margin: 10px 0 5px 77px;
    background-color: #1E90FF;
    display: flex;
}
.right-logo-search {
    width: 366px;
    height: 80%;
    margin: 10px 77px 5px 0;
    background-color: yellow;
}
.logo-search img {
    height: 100%;
    width: auto;
    margin: ;
}
.search-bar {
    height:50px;
    width: 80%;
    background-color:aliceblue;
    margin:0 0 20px 0;
    display:flex;
}
.search-bar input {
    border:1px solid;
    height:92%;
    width:80%;
    font-size: var(--searchsize);
    padding-left:20px;
    border-radius:3px;
}
.search-bar button {
    height:100%;
    width:20%;
    border: 1px solid;
    border-radius:3px;
    display:flex;
    align-items:center;
    font-size: var(--searchsize);
   
}
.search-bar button img {
    width: 30px;
    height: 65%;
    margin-right:15px;
}
.dropdown-menu {
    width:120px;
    height:100%;
    background-color:aqua;
}
.mainmenu {
    width: 1520px;
    height: 40%;
    margin: auto;
    display: flex;
    justify-content:center;
    background-color: aqua;
}
.main-content {
    width: 90%;
    height: 1200px;
    margin: auto;
    background-color:#ece6e6;
}
.top-content {
    width: 40%;
}
ul li{
    list-style:none;

}
ul li a{
    color: blue;
    text-decoration:none;
    font-size: var(--menutextsize);

}
body {
    margin: 0;
    padding: 0;
    font-family:'Times New Roman';
}